.add-button{
    display:flex;
    float:right;
}
img{
    width:100%;
}
.table .item_image{
    width:120px;
}
.modal .item_image{
    width:400px;
    height:400px;
}
.card{
    height:500px;
    width:18rem;
}
.card .item_image{
    width:18rem;
    max-height:200px;
}
.card .item_image img{
    max-height:200px;
}